* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Tahoma", sans-serif;
    font-size: 10px;
}

body {
    background-color: #D9DBF1;
    color: #112A46;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 3.6em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
}

img {
    width: 350px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
p, li {
    font-size: 1.5em;
    color: #112a46ce;
    margin-bottom: 20px;
}

li {
    padding-bottom: 2rem;
    margin-left: 40px;
}