html {
    font-family: "Tahoma", sans-serif;
    font-size: 10px;
}

body {
    background-color: #D9DBF1;
    color: #112A46;
}

h1 {
    text-align: center;
    font-size: 3.6em;
}

h2 {
    font-size: 2em;
}

img {
    width: 350px;
    max-width: 100%;
    height: auto;
}

p, li {
    font-size: 1.5em;
    color: #112a46ce;
}

li {
    padding-bottom: 2rem;
}